/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: inherit; }

header {
  display: flex;
  height: 59px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; }
  header .logo {
    height: 30%; }
  header img {
    height: 100%;
    width: auto; }
  header li {
    display: inline;
    font-size: 1.25em;
    margin-left: 15px; }

.hero {
  align-items: center;
  background: url("../img/presto-hero.jpg") 30% 50%/cover no-repeat;
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: flex-end;
  width: 100%;
  padding: 15px; }

.hero h2 {
  color: silver;
  font-family: 'Work Sans', sans-serif;
  font-size: 3em; }

.hero p {
  color: lightgrey;
  margin-bottom: 20px; }

.featured-products {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 10px; }
  .featured-products > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 400px; }
    .featured-products > div h4, .featured-products > div p {
      align-self: center;
      font-family: sans-serif;
      padding: 4px; }
  @media screen and (min-width: 1200px) {
    .featured-products {
      font-family: verdana; } }

.featured-products h3 {
  align-self: center;
  font-size: 1.5em;
  padding-bottom: 10px;
  color: grey;
  font-family: sans-serif; }

.product-one {
  background: url("../img/red-shoes.jpg") center/cover no-repeat; }

.product-two {
  background: url("../img/gold-cortez.jpg") center/cover no-repeat; }

.product-three {
  background: url("../img/pink-shoes.jpg") center/cover no-repeat; }

.product-four {
  background: url("../img/sock-shoe.jpg") center/cover no-repeat; }

.big-feature {
  background: url("../img/snowcap.jpg") 30% 50%/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 400px;
  width: 100%;
  margin-top: 20px; }

.big-feature p {
  align-items: center;
  color: white;
  font-family: sans-serif; }

/*# sourceMappingURL=master.css.map */
