.featured-products {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: $featured-products-padding;
}

.featured-products h3 {
  align-self: center;
  font-size: 1.5em;
  padding-bottom: 10px;
  color: grey;
}

.product-one {
  background: url('../img/red-shoes.jpg') center/cover no-repeat;
  width: 100%;
  height: 300px;
}

.product-two {
  background: url('../img/gold-cortez.jpg') 50% 80%/cover no-repeat;
  width: 100%;
  height: 300px;
}

.product-three {
  background: url('../img/pink-shoes.jpg') center/cover no-repeat;
  width: 100%;
  height: 300px;
}

.product-four {
  background: url('../img/sock-shoe.jpg') center/cover no-repeat;
  width: 100%;
  height: 300px;
}
